<?xml version="1.0" encoding="UTF-8" ?>

<configuration status="INFO">

    <Appenders>
        <!-- 콘솔 -->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout charset="UTF-8" pattern="%d{hh:mm:ss} %5p [%c] %m%n"/>
        </Console>
    </Appenders>

    <loggers>
        <logger name="org.springframework" level="INFO" additivity="false">
            <appender-ref ref="console" />
        </logger>

        <logger name="com.example" level="INFO" additivity="false">
            <appender-ref ref="console" />
        </logger>

        <logger name="com.example.todo.mapper" level="TRACE" additivity="false">
                <appender-ref ref="console" />
        </logger> <!--com.example.todo.mapper 패키지로그는 TRACE레벨로 기록하도록 추가(SQL실행로그확인)-->

        <root level="INFO" additivity="false">
            <AppenderRef ref="console"  />
        </root>
    </loggers>
</configuration>